<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
  <!-- https://blackrockdigital.github.io/startbootstrap-clean-blog/index.html -->
  <!-- Modified to fit Cryogen.-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    <meta name="description" content="Brad Lucas - Clojure Programmer - Blog">
    <meta content='Brad Lucas is a Clojure developer from New York' name='description'>
    <meta name="keywords" content="clojure,clojurescript,datomic,functional,functional programming,blog,brad lucas, beacon hill">

    <!-- Bootstrap core CSS -->
    {% style "js/vendor/bootstrap/css/bootstrap.min.css" %}

    <!-- Custom fonts for this template -->
    <link href="/js/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    {% style "/css/clean-blog.min.css" %}

    <!-- highlight.js (https://highlightjs.org/) -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/tomorrow-night-eighties.min.css">

</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="index.html">{{author}}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{index-uri}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{archives-uri}}">Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{tags-uri}}">Tags</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/about">Author</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<!--
    <div id="menucont" class="bodycontainer clearfix">
        <div class="menutitle">
            <p><span class="fa fa-reorder"></span><strong>Menu</strong></p>
        </div>
        <ul class="menu">
            <li {% if home %} class="active" {% endif %}><a title="Home" href="{{index-uri}}">Home</a></li>
            <li {% if archives %} class="active" {% endif %}><a title="Archives" href="{{archives-uri}}">Posts</a></li>
            {% if tags|not-empty %}
            <li {%ifequal uri tags-uri %} class="active" {% endifequal %}><a title="Tags" href="{{tags-uri}}">Tags</a></li>
            <li {%ifequal uri tags-uri %} class="active" {% endifequal %}><a title="Tags" href="{{tags-uri}}ethereum">&nbsp;&nbsp;&nbsp;&nbsp; / Ethereum</a></li>
            <li {%ifequal uri tags-uri %} class="active" {% endifequal %}><a title="Tags" href="{{tags-uri}}clojure">&nbsp;&nbsp;&nbsp;&nbsp; / Clojure</a></li>
            <li {%ifequal uri tags-uri %} class="active" {% endifequal %}><a title="Tags" href="{{tags-uri}}python">&nbsp;&nbsp;&nbsp;&nbsp; / Python</a></li>
            <li {%ifequal uri tags-uri %} class="active" {% endifequal %}><a title="Tags" href="{{tags-uri}}ads.txt">&nbsp;&nbsp;&nbsp;&nbsp; / Ads.txt</a></li>
            {% endif %}
            {% for nav-page in navbar-pa1ges %}
            <li {%ifequal page.uri nav-page.uri %} class="active" {% endifequal %}>
                <a href="{{nav-page.uri}}">{{nav-page.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
-->

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>{{author}}</h1>
              <span class="subheading">{{description}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>


    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          {% block content %}
          {% endblock %}

          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://twitter.com/bwlucas">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="http://www.linkedin.com/in/bradlucas">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/bradlucas">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy;  {{today|date:yyyy}} {{author}}</p>
            <p class="copyright text-muted">Powered by <a href="http://cryogenweb.org">Cryogen</a></p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/js/vendor/jquery/jquery.min.js"></script>
    <script src="/js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    {% script "js/clean-blog.min.js"%}

    {% script "js/highlight.pack.js" %}
    <script>hljs.initHighlightingOnLoad();</script>


</body>
</html>
